<section class="gallery">
    <div class="gallery__container">
<div class="gallery__container_text">
    <h2 class="gallery__title">Why Choose Us</h2>
    <p class="gallery__subtitle--top">Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee </p>
    <p class="gallery__subtitle--bottom">Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.</p>
    <button class="galery__button button">EXPLORE PLACES</button>
</div>
<div class="gallery__container_images">
    <div class="gallery__container_img">
     <img class="gallery__container--img_top" src="/assets/images/gallery1.png" alt="images">
    </div>
    <div class="gallery__container_img2">
     <img class="gallery__container--img_bottom" src="/assets/images/gallery2.png" alt="images">
    </div>
</div>
</div>
<div class="gallery__futer">
<ul class="gallery__list">
    <li class="gallery__list_icon">
        <svg class="gallery__list_icon--svg">
        <use xLink:href="#loupe">
      </svg> 
      <p class="gallery__list_icon--text">Search Places</p>
    </li>
    <li class="gallery__list_icon">
        <svg class="gallery__list_icon--svg">
            <use xLink:href="#sellect">
          </svg> 
          <p class="gallery__list_icon--text">Select Places</p>
    </li>
      <li class="gallery__list_icon">
        <svg class="gallery__list_icon--svg">
            <use xLink:href="#like">
          </svg> 
          <p class="gallery__list_icon--text">Book & Enjoy</p>
        </li>
    </ul>
</div>
</section>