<header class="header">
  <div class="header__container">
  <h1 class="header__title">BHROMAON</h1>
  <h3 class="header__subtitle">Safe Travel Anywhere</h3>
  <form class="header__form" action="header">
    <input class="header__input" type="header" placeholder="Search Your Travel Destination">
    <button class="header__button">SEARCH <svg class="header__svg">
        <use href="#button">
      </svg> </button>
  </form>
  <div class="header__scroll">
  <h5 class="header__scroll--text">Scroll Down</h5>
  <svg class="header__scroll--svg">
    <use href="#scroll">
  </svg> 
  </div>
  <nav class="header__nav">
    <div class="header__nav_container">
      <h2 class="header__nav_title">BHROMAON</h2>
      <ul class="header__list">
        <li class="header__list--nav">WHO WE ARE</li>
        <li class="header__list--nav">WHAT WE DO</li>
        <li class="header__list--nav">TRAVEL WITH US</li>
        <li class="header__list--nav">CONTACT US</li>
      </ul>
    </div>
  </div>

  </nav>
</header>