<section class="nature">
    <div class="nature__container">
        <div class="nature__container_block">
            <p class="nature__subtitle">Spain</p>
            <p class="nature__title">GRAND SPAIN MADRID</p>
            <p class="nature__text">But I must explain to you how all this mistaken idea of account to denouncing
                pleasure and praising pain was account born and I account will give you a complete account of the system
            </p>
            <button class="nature__button button">BOOK NOW</button>
        </div>
    </div>
</section>