.footer {
  background: url(/assets/images/footer.png) no-repeat;
  background-size: cover;
  padding-top: 50px;
  @include media ($screen-tablet) {
    background: url(/assets/images/footer.png) no-repeat;
  background-size: cover;
  padding-top: 120px ;
  }

  &__title {
    @include media {
      width: 360px;
    height: 33px;
    color: $white;
    font-family: Aleo;
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
    }
    max-width: 360px;
    height: 33px;
    color: $white;
    font-family: Aleo;
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
  }
  &__container {
    background-color: $light_black;
    max-width: 1110px;
    display: block;
    margin: 50px 10px 50px 10px;
    @include media ($screen-tablet) {
      background-color: $light_black;
      width: 1110px;
      height: 284px;
      display: flex;
      margin: 94px auto 200px auto;
    }
  }

  
  &__con_images {
    max-width: 445px;
    max-height: 284px;
  }
  &__images {
    width: 100%;

  }
  &__subtitle {
    @include media ($screen-tablet) {
      width: 130px;
    height: 17px;
    color: $light_white;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin: 50px 0 33px 0;
    }
    width: 130px;
    height: 17px;
    color: $light_white;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin: 50px auto 33px auto;
  }
  &__block_text {
    @include media {
      width: 551px;
    height: 284px;
    margin: 0 auto;
    text-align: start;
    }
    text-align: center;
    max-width: 551px;
    margin: 0;
  }
  &__text {
    @include media {
      width: 551px;
    height: 136px;
    color: $light_gray;
    font-family: "Josefin Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    }
    max-width: 551px;
    color: $light_gray;
    font-family: "Josefin Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  &__bracket {
    color: $dark_blue;
      font-size: 36px;
      font-family: "Josefin Sans";
     /// margin-right: 5px;
  }

  &__contact {
    @include flex(center, center, row);
    height: 268px;
    background-color: $black;
  }
  &__contact_block {
    width: 188px;
    height: 82px;
    display: block;
    text-align: center;
  }
  &__contact_title {
    width: 188px;
    height: 20px;
    color: $white;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 3.36px;
    margin-bottom: 15px;
  }
  &__contact_sub {
    width: 188px;
    height: 16px;
    color: $white;
    font-family: "Josefin Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.6px;
    margin-bottom: 30px;
  }
  &__list {
    width: 188px;
    height: 16px;
    display: flex;
    justify-content: space-around;
  }
    &__list-facebook, &__list-twitter, &__list-linkedia, &__list-youtube, &__list-pinterest {
      width: 16px;
      height: 16px;
      fill: $white;
      cursor: pointer;
      &:hover {
        fill: $dark_blue;
      }
    }
  
}
