.about {
  background: url(/assets/images/about1.png) no-repeat;
  background-size: cover;
  @include flex(center, center, row);

  &__container {
    width: 300px;
    height: auto;
    margin: 10px;
    @include media($screen-tablet) {
      width: 1110px;
      height: 371px;
      margin: 229px 0 100px 0;
    }
  }
  &__container_block {
    max-width: 540px;
    height: auto;
    background-color: $black;
    opacity: 0.9;
    padding: 50px 32px 50px 30px;
  }
  &__subtitle {
    max-width: 56px;
    height: 19px;
    color: $light_gray;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.5px;
  }
  &__title {
    max-width: 230px;
    height: 17px;
    color: $white;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin: 30px 0 29px 0;
  }
  &__text {
    max-width: 478px;
    min-height: 68px;
    color: $light_gray;
    font-family: "Josefin Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
  }
}
