$light_white: #fefefe;
$white: #ffffff;
$light_black: #333333;
$yellow: #ffff00;
$red: #ff0000;
$grey: #cccccc;
$dark_grey: #999999;
$black: #232323;
$blue: #496bfe;
$lihgt_blue: #00a2ff;
$light_gray: #e8e8e8;
$pink: #ff6363;
$dark_blue: #5474fd;